{% extends 'base.html.twig' %}

{% block body %}

<div class="card-panel">

    <div class="row"  style="padding: 2%">

        <nav class="left-align-align" style="background-color: #039be5">
            <a class="center">
                <ul class="waves-effect">
                    <li class="Clients" style="padding-right:100px; padding-left: 100px">
                        <a style="font-size: x-large" href="{{ path('nouveauTicket')}}">Nouveau ticket</a>
                    </li>
                </ul>
            </a>
        </nav>

    </div>

    <div class="row">
        <header style="font-size: x-large" class="centered">
            Tableau de vos tickets
        </header>
        <br/>
        <table>
            <thead>
            <tr style="font-size: larger" class="centered">
                <th>Numéro du ticket</th>
                <th>Titre du ticket</th>
                <th>Nom du demandeur</th>
                <th>Société</th>
            </tr>
            </thead>

            <tbody class="centered">
            <tr>
                <td>1</td>
                <td>Bienvenue</td>
                <td>Marionsss</td>
                <td>Polaris</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Bonjour</td>
                <td>Clément</td>
                <td>Polaris</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


