{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <nav class="left-align-align" style="background-color: #039be5">
            <a class="center">
                <ul class="waves-effect">
                    <li class="Clients" style="padding-right:100px; padding-left: 100px">
                        <a style="font-size: x-large" href="{{ path('nouveauTicket')}}">Nouveau ticket</a>
                    </li>
                </ul>
            </a>
        </nav>
    </div>
{% endblock %}


