{% extends 'base.html.twig' %}


{% block body %}

    <div class="row"  style="padding: 2%">
        <nav class="left-align-align" style="background-color: #039be5">
            <a class="center">
                <ul class="waves-effect">
                    <li class="Clients" style="padding-right:100px; padding-left: 100px">
                        <a style="font-size: x-large" href="{{ path('softnlabs_client_part')}}">Retour</a>
                    </li>
                </ul>
            </a>
        </nav>
    </div>

    <header style="font-size: x-large" class="centered">
        Création d'un nouveau client
    </header>
    <br/>


{% endblock %}


