<!DOCTYPE html>
<html>
<head>
    <title>Ajout d'un utilisateur</title>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
</head>

<body>
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Ajouter</button>
{{ form_end(form) }}
</body>
</html>